@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url(//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css);
input, textarea {outline:none;}
body {
	  font-family: 'Roboto';
	  background-color: #F6F3EF;
 	  margin: 0;
    padding: 0;
    font-size: 18px;
}
.logo-panel {
    margin: 50px 12px;
}
.logo-panel img {
   width:160px;
}
.content {
	  padding-left: 50px;
	  padding-top: 110px;
}
.app-body {
    padding: 30px 20px;
    box-sizing: border-box;
}
.fa-2x {
	  font-size: 2em;
}
.fa {
	  position: relative;
	  display: table-cell;
	  width: 50px;
	  height: 50px;
	  text-align: center;
	  vertical-align: middle;
	  font-size:20px;
}
.fa-ex {
	  font-size:32px !important;
}
.fa-st {
	  font-size:28px !important;
}
.main-menu:hover,nav.main-menu.expanded {
	  width:240px;
	  overflow:visible;
}
.main-menu {
	  background:#FFE5D3;
	  box-shadow: 8px 0px 8px rgba(0, 0, 0, 0.04);
	  position:fixed;
	  top:0;
	  bottom:0;
	  height:100%;
	  left:0;
	  width:50px;
	  overflow:hidden;
	  transition:width .05s linear;
	  z-index:1000;
}
.main-menu>ul {
	  margin:7px 0;
}
.main-menu li {
	  position:relative;
	  display:block;
	  width:250px;
}
.main-menu li>a {
	  position:relative;
	  display:table;
	  border-collapse:collapse;
	  border-spacing:0;
	  color:#000000;
	  font-size: 16px;
	  text-decoration:none;
	  transition:all .1s linear;
}
.main-menu .nav-icon {
    position:relative;
    display:table-cell;
    width:60px;
    height:36px;
    text-align:center;
    vertical-align:middle;
    font-size:18px;
}
.main-menu .nav-text {
	  position:relative;
	  display:table-cell;
	  vertical-align:middle;
	  width:190px;
}
.main-menu>ul.logout {
	  position:absolute;
	  left:0;
	  bottom:0;
}
.no-touch .scrollable.hover {
	  overflow-y:hidden;
}
.no-touch .scrollable.hover:hover {
	  overflow-y:auto;
	  overflow:visible;
}
a:hover,a:focus {
	  text-decoration:none;
}
nav {
  	user-select:none;
}
nav ul,nav li {
	  outline:0;
	  margin:0;
	  padding:0;
}
.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
	  color:#fff;
	  background-color:#207B44;
}
.inputbox {
    padding: 10px 20px;
    border-radius: 12px;
    border: solid 1px #333333;
    margin-bottom: 10px;
    font-size:18px;
}
.inputbox:focus {
    border: solid 1px #79BD9A;
}
.buttonbox {
    padding: 10px 20px;
    border-radius: 24px;
    border: none;
    margin-bottom: 10px;
    font-size:18px;
    color: #000000;
    background-color: #FB8433;
    min-width: 150px;
    cursor: pointer;
}
.buttonbox:hover {
    color: #FFFFFF;
}
.logo {
    margin-bottom: 50px;
}
.page-header {
    background: #207B44;
    padding: 30px;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 32px;
    color: #FFFFFF;
    margin: 0;
    position: fixed;
    top: 0;
    width: calc(100% - 50px);
    z-index: 999;
    box-shadow: 0px 11px 16px -7px rgba(0, 0, 0, 0.36);
    box-sizing: border-box;
}
.postcontent {
	  margin-top: 140px;
}
.header-text {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    left: 25px;
}
#clock {
    color: #FFFFFF;
    font-size: 24px !important;
    text-align: right;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-50%, -50%);
}
#clock p {
    margin: 0 0 10px;
}


.auth {
    max-width: 332px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 233px;
}

@keyframes donut-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.donut {
    display: inline-block;
    border: 6px solid rgba(0, 0, 0, 0.1);
    border-left-color: #ffffff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: donut-spin 1.2s linear infinite;
}

.head-button {
    position: absolute;
    right: 300px;
    top: 35px;
}

.crm-table {
	width: 100%;
	border: none;
	margin: 20px 0;
	font-family: 'Roboto', sans-serif;
    color: #000000;
}
.crm-table thead th {
	font-weight: bold;
	text-align: left;
	border: none;
	padding: 10px 15px;
	background: #79BD9A;
	font-size: 16px;
}
.crm-table thead input {
	font-weight: normal;
	text-align: left;
	border: none;
	padding: 5px;
	font-size: 14px;
}
.crm-table thead tr th:first-child {
	
}
.crm-table thead tr th:last-child {
	
}
.crm-table tbody td, .crm-table thead th {
	text-align: left;
	border: solid 1px #B9B9B9;
	padding: 10px 15px;
	font-size: 16px;
	vertical-align: middle;
}
.crm-table tbody tr:nth-child(even){
	background: #f3f3f3;

}
.crm-table thead tr th:first-child {
	border-radius: 8px 0 0 0;
}
.crm-table thead tr th:last-child {
	border-radius: 0 8px 0 0;
}
.fs-crm {
	width: 100%;
	max-width: 463px;
	display: block;
	float: left;
	padding: 0 20px 20px 20px;
	box-sizing: border-box;
	margin: 2%;
	border: solid 2px #79BD9A;
	border-radius: 20px;
}
.exposition-edit .fs-crm {
	height: 380px;
}
.fs-crm-mp-s {
	width: 100%;
	max-width: 725px;
	display: block;
	float: left;
	padding: 0 20px 20px 20px;
	box-sizing: border-box;
	margin: 2%;
	border: solid 2px #79BD9A;
	border-radius: 20px;
	max-height: 450px;
    overflow: auto;
}
.fs-crm-mp {
	width: 95%;
	display: block;
	float: left;
	padding: 0 20px 20px 20px;
	box-sizing: border-box;
	margin: 2%;
	border: solid 2px #79BD9A;
	border-radius: 20px;
	max-height: 450px;
    overflow: auto;
    max-width: 1520px;
}
.fs-crm-full {
	width: 95%;
	display: block;
	float: left;
	padding: 0 20px 20px 20px;
	box-sizing: border-box;
	margin: 2%;
	border: solid 2px #79BD9A;
	border-radius: 20px;
	max-height: 630px;
    overflow: auto;
    max-width: 1520px;
}

fieldset legend {
	font-family: 'Roboto';
	background: #79BD9A;
	padding: 10px;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 20px;
	color: #000000;
	margin: 0 0 20px 0;
	position: relative;
	float: initial;
	border-radius: 10px;
}
.modal-inner-label {
  font-weight: bold;
  text-align: left;
  border: none;
  padding: 10px 0;
  font-size: 16px;
  overflow: hidden;
}
.modal-inner-input {
  text-align: left;
}
.modal-inner-input input, select, textarea {
  width: 100%;
  box-sizing: border-box;
}
.partners-block img {
    border: solid 1px grey;
    padding: 5px;
    border-radius: 5px;
}
.partners-block a, .pet-block a {
    color: #000000;
    font-size: 16px;
}
.partner-block, .question-block {

    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    margin: 10px;
    border-bottom: solid 1px grey;
}
a.button-delete {
    padding: 10px 20px;
    border-radius: 24px;
    border: none;
    margin-bottom: 10px;
    font-size:18px;
    color: #000000;
    min-width: 150px;
    border: solid 2px #000000;
    cursor: pointer;
    text-decoration:none;
}
a.button-delete:hover {
    color: red;
    border: solid 2px red;
}
a.button-add {
    padding: 10px 20px;
    border-radius: 24px;
    border: none;
    margin-bottom: 10px;
    font-size:18px;
    color: #000000;
    min-width: 150px;
    border: solid 2px #000000;
    cursor: pointer;
    text-decoration:none;
}
a.button-add:hover {
    color: #207B44;
    border: solid 2px #207B44;
}
a.button-icon {
    border: none;
    font-size:18px;
    color: #000000;
    cursor: pointer;
    text-decoration:none;
}
a.button-icon:hover {
    color: #207B44;
}
.page-header .fa {
    font-size: 40px;
}
.partner-block-item {
    display: inline-block;
    margin: 0 15px;
    vertical-align: middle;
    width: 22%;
    text-align:center
}
.partner-block img {
    margin-right: 30px
}
.question-block-item {
    width: 100%;
    margin-bottom: 15px;
}
.pet-block {
    width: 200px;
    display: block;
    float: left;
    margin-right: 20px;
    margin-bottom: 50px;
    position: relative;
}
.pet-block-item {
    width: 100%;
    margin: 7px auto;
}

.pet-block-item.image {
	margin: 0 auto;
	margin-bottom: 0px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	transition: all .3s ease-in-out;
	max-width: 100%;
	margin-bottom: 15px;
	cursor: pointer;
	height: 200px;
    border-radius: 10px;
  }
.exposition-add ul {
  list-style-type: none;
  padding-left: 0;
}



.exposition-add li {
  display: inline-block;
  max-width: 45%;
  min-width: 160px
}

.exposition-add input[type="checkbox"][id^="partner"],
.exposition-add input[type="checkbox"][id^="pet"],
.exposition-add input[type="radio"][id^="topimg"] {
  display: none;
}

.exposition-add label {
  border: 1px solid #fff;
  padding: 10px;
  display: block;
  position: relative;
  margin: 10px;
  border-radius: 10px;
  cursor: pointer;
  border-color: #ddd;
}

.exposition-add label:before {
  background-color: white;
  color: white;
  content: " ";
  display: block;
  border-radius: 50%;
  border: 1px solid #207B44;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 36px;
  transition-duration: 0.4s;
  transform: scale(0);
}

.exposition-add label img {
    width: 100%;
  transition-duration: 0.2s;
  transform-origin: 50% 50%;

}

.exposition-add :checked + label {
  border-color: #ddd;
}

.exposition-add :checked + label:before {
  content: "✓";
  font-size: 25px;
  font-weight: bold;
  background-color: #207B44;
  transform: scale(1);
  z-index: 2;
}

.exposition-add :checked + label img {
  transform: scale(0.9);
  /* box-shadow: 0 0 5px #333; */
  z-index: -1;
}

label.pet-item {
    border: none;
    padding: 0;
}