{% extends 'manage/base_manage.html' %}
{% load static %}
{% block page-ico %}fa-calendar{% endblock page-ico %}
{% block page-title %}Выставки{% endblock page-title %}
{% block content %}
{% if active == 0 %}
<a class="button-add" href="/manage/exposition_edit/0" style="float: right;" class="reload-button">Добавить выставку</a>
{% else %}
<p style="text-align:right;font-style: italic;color: grey;">Чтобы создать новую выставку, завершите текущую</p>
{% endif %}
    {% if data %}
        <table class="crm-table" cellpadding="0" cellspacing="0">
            <thead>
                <tr>
                    <th>Состояние</th>
                    <th>Даты проведения</th>
                    <th>Место проведения</th>
                    <th>Количество животных</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="tasklisttable">
        {% for exposition in data %}
            {% if exposition.status == 'active' %}
            <tr>
                <td>Активная</td>
                <td>{{ exposition.date_start|date:'d' }} - {{ exposition.date_finish|date:'d E Y' }}</td>
                <td>{{ exposition.place }}</td>
                <td>
                    Кошки: {{ exposition.cats }}<br>
                    Собаки: {{ exposition.dogs }}
                </td>
                <td>
                    <a href="/manage/exposition_edit/{{ exposition.id }}" style="float: right;" class="button-icon"><i class="fa fa-ex fa-pencil-square-o" aria-hidden="true"></i>
</a>
                    <a href="/manage/exposition_close/{{ exposition.id }}" style="float: right;" class="button-icon"><i class="fa fa-ex fa-check-square-o" aria-hidden="true"></i>
</a>
                </td>
            </tr>
            {% endif %}
            {% if exposition.status != 'active' %}
            <tr>
                <td>Завершена {% if exposition.status == 'completed' %}(отображается){% endif %}</td>
                <td>{{ exposition.date_start|date:'d' }} - {{ exposition.date_finish|date:'d E Y' }}</td>
                <td>{{ exposition.place }}</td>
                <td>
                    Кошки: {{ exposition.cats }}<br>
                    Собаки: {{ exposition.dogs }}
                </td>
                <td>
                    <a class="button-icon" href="/manage/exposition_view/{{ exposition.id }}" style="float: right;"><i class="fa fa-search" aria-hidden="true"></i>
</a><br>
                </td>
            </tr>
            {% endif %}

        {% endfor %}
            </tbody>
            </table>
    {% else %}

    {% endif %}



{% endblock content %}

