{% extends 'manage/base_manage.html' %}
{% load static %}
{% block page-ico %}fa-users{% endblock page-ico %}
{% block page-title %}Партнеры{% endblock page-title %}
{% block content %}
    <div>
        <form class="" method="POST" action="{% url 'partners' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div style="overflow:hidden">
                <fieldset class="fs-crm">
                    <legend>Новый партнер</legend>
                    <div class="modal-inner-label">
                        Название:
                    </div>
                    <div class="modal-inner-input">
                        <input type="text" id="name" name="name" value="" maxlength="255" class="inputbox" />
                    </div>
                    <div class="modal-inner-label">
                        Ссылка на сайт партнера:
                    </div>
                    <div class="modal-inner-input">
                        <input type="text" id="link" name="link" value="" maxlength="255" class="inputbox" />
                    </div>
                    <div class="modal-inner-label">
                        Логотип:
                    </div>
                    <div class="modal-inner-input">
                        <input type="file" id="image" name="image" accept="image/png, image/jpeg" />
                    </div>
                    <br>
                    <div class="modal-inner-input">
                        <button class="btn" type="submit">Сохранить</button>
                    </div>
                </fieldset>
            </div>
        </form>
    </div>
    {% if data %}
        <div style="margin: 0 2%">
            <h2>Партнеры</h2>
            {% for partner in data %}
                <div class="partner-block">
                    <div class="partner-block-item"><img align="left" height="80px" src="/{{ partner.image }}" alt="{{ partner.name }}"></div>
                    <div class="partner-block-item">{{ partner.name }}</div>
                    <div class="partner-block-item"><a href="{{ partner.link }}">{{ partner.link }}</a></div>
                    <div class="partner-block-item"><a href="/manage/partners/delete/{{ partner.id }}">Удалить</a></div>
                </div>
            {% endfor %}
        </div>
    {% else %}

    {% endif %}


{% endblock content %}

