{% extends 'manage/base_manage.html' %}
{% load static %}
{% block page-ico %}fa-question{% endblock page-ico %}
{% block page-title %}Вопросы и ответы{% endblock page-title %}
{% block content %}
    <div>
        <form class="" method="POST" action="{% url 'questions' %}">
            {% csrf_token %}
            <div style="overflow:hidden">
                <fieldset class="fs-crm">
                    <legend>Новый вопрос</legend>
                    <div class="modal-inner-label">
                        Сам вопрос:
                    </div>
                    <div class="modal-inner-input">
                        <textarea class="inputbox" name="question" id="question" style="width: 100%;height:100px;"></textarea>

                    </div>
                    <div class="modal-inner-label">
                        Ответ на вопрос:
                    </div>
                    <div class="modal-inner-input">
                        <textarea class="inputbox" name="answer" id="answer" style="width: 100%;height:100px;"></textarea>

                    </div>
                    <br>
                    <div class="modal-inner-input">
                        <button class="buttonbox" type="submit">Сохранить</button>
                    </div>
                </fieldset>
            </div>
        </form>
    </div>
    {% if data %}
        <div style="margin: 0 2%">
            <h2>Вопросы</h2>
            {% for question in data %}
                <div class="question-block">
                    <div class="question-block-item"><strong>Вопрос:</strong><br><br>{{ question.question }}</div>
                    <div class="question-block-item"><strong>Ответ:</strong><br><br>{{ question.answer }}</div>
                    <div class="question-block-item" style="text-align: right;"><a  class="button-delete" href="/manage/questions/delete/{{ question.id }}">Удалить</a></div>
                </div>
            {% endfor %}
        </div>
    {% endif %}


{% endblock content %}

